<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut" type ="x-icon" href="/images/LOGO STORE.jpg">
    <title>Lanica's Sofa</title>

    <!-- CSS -->
     <link rel="stylesheet" href="/css/collection.css">

    <!-- BOX ICONS LINK -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <!-- FONTS LINK -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

</head>
<body>

    <!-- HEADER -->
    <header>
        <a href="/" class="logo">Logo</a>
        <ul class="navlist">
            <li><a href="#home">Home</a></li>
            <li><a href="#featured">Featured</a></li>
            <li><a href="#new">New</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
        <div class="header-icons">
            <a href="#"><i class='bx bx-shopping-bag' ></i></a>
            <div class="bx bx-menu" id="menu-icon"></div>
        </div>
    </header>
    
    <!-- SECTION -->
     <section class="collection" id="collection">

        <!-- DASHBOARD -->
        <div class="dashboard-box">

        </div>


        <!-- SEARCH MAIN BOX -->
         <div class="search-main-box">

            <!-- ITEM CHOICE BOX -->
            <ul class="item-choice">
                <li><a href="#Bed">Bed</a></li>
                <li><a href="#Sofa">Sofa</a></li>
                <li><a href="#Chair">Chair</a></li>
                <li><a href="#DiningSet">Dining Set</a></li>
                <li><a href="#Sales">Sales</a></li>
                <li><a href="#Promo">Promo</a></li>
                <li><a href="#New">New</a></li>
            </ul>

            <!-- SEARCH BOX -->
            <div class="search-box">
                <div class="search-input-box">
                    <input type="text" placeholder="Search">
                </div>
                <button class="search" id="search"><i class='bx bx-search-alt-2'></i></button>
            </div>

         </div>


    <!-- ITEM LIST -->
     <div class="itemlist-main-box">

        <!-- BED MAIN BOX -->
        <div class="bed-main-box">

            <!-- ITEM BED BOX -->
            <div class="item-bed-box">

                <div class="bed-image-box">
                    <img src="" alt="bed image">
                </div>

                <div class="bed-info-box">
                    <h3>$100</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="bed-item-btn">
                    <button>Add to Cart</button>
                </div>
            </div>

            <!-- ITEM BED BOX -->
            <div class="item-bed-box">

                <div class="bed-image-box">
                    <img src="" alt="bed image">
                </div>

                <div class="bed-info-box">
                    <h3>$100</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="bed-item-btn">
                    <button>Add to Cart</button>
                </div>
            </div>
            
            <!-- ITEM BED BOX -->
            <div class="item-bed-box">

                <div class="bed-image-box">
                    <img src="" alt="bed image">
                </div>

                <div class="bed-info-box">
                    <h3>$100</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="bed-item-btn">
                    <button>Add to Cart</button>
                </div>
            </div>

            <!-- ITEM BED BOX -->
            <div class="item-bed-box">

                <div class="bed-image-box">
                    <img src="" alt="bed image">
                </div>

                <div class="bed-info-box">
                    <h3>$100</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="bed-item-btn">
                    <button>Add to Cart</button>
                </div>
            </div>
            <!-- ITEM BED BOX -->
            <div class="item-bed-box">

                <div class="bed-image-box">
                    <img src="" alt="bed image">
                </div>

                <div class="bed-info-box">
                    <h3>$100</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="bed-item-btn">
                    <button>Add to Cart</button>
                </div>
            </div>

            <!-- ITEM BED BOX -->
            <div class="item-bed-box">

                <div class="bed-image-box">
                    <img src="" alt="bed image">
                </div>

                <div class="bed-info-box">
                    <h3>$100</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="bed-item-btn">
                    <button>Add to Cart</button>
                </div>
            </div>
            
            <!-- ITEM BED BOX -->
            <div class="item-bed-box">

                <div class="bed-image-box">
                    <img src="" alt="bed image">
                </div>

                <div class="bed-info-box">
                    <h3>$100</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="bed-item-btn">
                    <button>Add to Cart</button>
                </div>
            </div>

            <!-- ITEM BED BOX -->
            <div class="item-bed-box">

                <div class="bed-image-box">
                    <img src="" alt="bed image">
                </div>

                <div class="bed-info-box">
                    <h3>$100</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="bed-item-btn">
                    <button>Add to Cart</button>
                </div>
            </div>

        </div>

     </div>
         


     </section>
    
</body>
</html>

    <!-- CUSTOM JS LINK -->
    <script src="/js/script.js"></script>